<%- include("partials/header") -%>

<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav navbar-right">
    <li class="nav-item" id="home"><a class="nav-link" href="/">HOME</a></li>
    <li class="nav-item" id="about"><a class="nav-link active" href="/about">ABOUT ME</a></li>
    <li class="nav-item" id="contact"><a class="nav-link" href="/contact">CONTACT</a></li>
    <li class="nav-item" id="resume"><a class="nav-link" href="/JordanMarrResume.pdf" target="_blank" rel="noopener noreferrer">RESUMÉ</a></li>
  </ul>
</div>

</nav>

</h1>
<img class="rounded mx-auto d-block horizontal-image" src="/image/akihabara.jpg" alt="">
<br>
<p><%= aboutParagraph %></p>

<%- include("partials/footer") -%>
