<%- include("partials/header") -%>

<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav navbar-right">
    <li class="nav-item" id="home"><a class="nav-link" href="/">HOME</a></li>
    <li class="nav-item" id="about"><a class="nav-link" href="/about">ABOUT ME</a></li>
    <li class="nav-item" id="contact"><a class="nav-link active" href="/contact">CONTACT</a></li>
    <li class="nav-item" id="resume"><a class="nav-link" href="/JordanMarrResume.pdf" target="_blank" rel="noopener noreferrer">RESUMÉ</a></li>
  </ul>
</div>

</nav>

<img class="rounded mx-auto d-block vertical-image" src="/image/xue-mountain.jpg" alt="">
<br>
<h3 class="text-center">
  <a href="mailto: jmarr.to@gmail.com">jmarr.to@gmail.com</a>
</h3>
<br>
<h3 class="text-center">
  <a href="https://www.linkedin.com/in/jordan-marr-1a543185/">Connect with me on LinkedIn!</a>
</h3>
<br>
<h3 class="text-center">
  <a href="https://github.com/jdmarr">Check out my GitHub profile!</a>
</h3>

<%- include("partials/footer") -%>
