<%- include("partials/header") -%>


<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav navbar-right">
    <li class="nav-item" id="home"><a class="nav-link active" href="/">HOME</a></li>
    <li class="nav-item" id="about"><a class="nav-link" href="/about">ABOUT ME</a></li>
    <li class="nav-item" id="contact"><a class="nav-link" href="/contact">CONTACT</a></li>
    <li class="nav-item" id="resume"><a class="nav-link" href="/JordanMarrResume.pdf" target="_blank" rel="noopener noreferrer">RESUMÉ</a></li>
  </ul>
</div>

</nav>

<body>
  <div class="container">

    <img class="rounded mx-auto d-block square-image" src="/image/headshot.jpeg" alt="">
    <br>
    <p><%= homeParagraph %></p>

    <%- include("partials/footer") -%>
